<div *ngFor="let question of questions;let i=index">
    <mat-card class="example-card">
        <mat-card-content>
          <strong class="question">{{question.content }}</strong>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button data-bs-toggle="modal" (click)="onSend({'id':question.id,'content':question.content})" data-bs-target="#exampleModal1"><mat-icon fontIcon="border_color"></mat-icon> Repondre</button>
          <button mat-button><mat-icon fontIcon="rss_feed"></mat-icon>Suivre</button>
        </mat-card-actions>
      </mat-card>      
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="width:100%">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Donner une réponse</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="modal-body">
        <div *ngIf="question">
          <p><strong class="question">{{question.content}}</strong></p>
          <input type="hidden" formControlName="id_question">
          <input type="hidden"  formControlName="id">
        </div>
        <textarea required cols="55" rows="15" placeholder="Ecrivez votre réponse" class="form-control" formControlName="content"></textarea>
      </div>
      <div class="modal-footer">
        <input type="file" accept="image/*" (change)="onUpload($event)" name="image" >
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Publier</button>
      </div>
  </form>
    </div>
  </div>
</div>
